@import "../less/module/layout.less";
@import "../less/module/nav.less";
#root{
  height: 100%;
}
.g-header{
  display: flex;
  justify-content: space-between;
  .m-Logo{
    width:200px;
  }
  .m-LoginInfo{
    width:200px;
  }
  .m-HeadNav{
    width:100%;
  }
}
